@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: all 0.5s ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

ascart {
    font-family: "Roboto", Courier, monospace;
    color: var(--h1-color);
    white-space: pre;
    line-height: 1.1em;
    /*letter-spacing: -0.2em;*/
    display: inline-block;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--h1-color);
    font-weight: bold;
    font-size: 30px;
}

p, span, div {
    color: var(--text-color);
    font-size: 20px;
}

link, a{
    color: var(--link-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas,
        "Courier New", monospace;
}

img {
    max-width: 200px;
    height: auto;
    padding-bottom: 2rem;
}
