
.theme-picker {
    position: relative;
    width: 100%;
    height: 100%;
}

.swatch {
    width: .25vw;
    height: 4vh;
    border: none;
    background: var(--swatch-bg);
    transform-origin: center;
    transition: width .2s ease;
    position: relative;
}

.swatch::before {
    content: "";  /* precisa estar assim */
    position: absolute;  /* sit on top of the button */
    inset: 0 -.75vw 0 0;  /* expand button hitbox */
    background: transparent;
}

.swatch:hover,
.swatch.selected {
    margin-right: .25vw;
    width: .7vw;
}

.color-selector {
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    /*gap: 0.2rem;*/
    padding: 4vh 0 0 0;
    z-index: 10;
}

.mode-selector {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    /*gap: 0.2rem;*/
    padding: 1vh 0 0 0;
    z-index: 10;
}

i{
    color: var(--h1-color);
}


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    pointer-events: none;
    transition: background 0.3s ease;
}



[data-theme="bw"][data-mode="dark"] {
    --h1-color: #ffffff;
    --link-color: #9a9a9a;
    --text-color: #fbfbfb;
    --background-color: #000000;
    --secondary-color: #0e0e0e;
}
[data-theme="bw"][data-mode="light"] {
    --h1-color: #000000;
    --link-color: #7a7a7a;
    --text-color: #040404;
    --background-color: #ffffff;
    --secondary-color: #f2f2f2;
}
.swatch[data-theme="bw"] { --swatch-bg: #000000; }


[data-theme="default"][data-mode="dark"] {
    --h1-color: #ffc300;
    --link-color: #ffc84b;
    --text-color: #fff3d4;
    --background-color: #000814;
    --secondary-color: #131613;
}
[data-theme="default"][data-mode="light"] {
    --h1-color: #00195a;
    --link-color: #003566;
    --text-color: #000814;
    --background-color: #f9eeee;
    --secondary-color: #f7f7f7;
}
.swatch[data-theme="default"] { --swatch-bg:#ffc300; }


[data-theme="emerald"][data-mode="dark"] {
    --h1-color: #80cf45;
    --link-color: #a4d977;
    --text-color: #f5f0e7;
    --background-color: #081310;
    --secondary-color: #020504;
}
[data-theme="emerald"][data-mode="light"] {
    --h1-color: #469527;
    --link-color: #3f7e21;
    --text-color: #27270c;
    --background-color: #f5f0e7;
    --secondary-color: #eaeaea;
}
.swatch[data-theme="emerald"] { --swatch-bg:#80cf45; }


[data-theme="cyan"][data-mode="dark"] {
    --h1-color: #40dbdb;
    --link-color: #9dece6;
    --text-color: #fafdf0;
    --background-color: #1d0e10;
    --secondary-color: #100507;
}
[data-theme="cyan"][data-mode="light"] {
    --h1-color: #33b3c3;
    --link-color: #30909d;
    --text-color: #251417;
    --background-color: #efeff9;
    --secondary-color: #f7f7f7;
}
.swatch[data-theme="cyan"] { --swatch-bg:#40dbdb; }


[data-theme="lime"][data-mode="dark"] {
    --h1-color: #ddf21e;
    --link-color: #e8f66f;
    --text-color: #fafdf0;
    --background-color: #050505;
    --secondary-color: #151515;
}
[data-theme="lime"][data-mode="light"] {
    --h1-color: #aad02e;
    --link-color: #8baa26;
    --text-color: #303030;
    --background-color: #fcfffc;
    --secondary-color: #efefef;
}
.swatch[data-theme="lime"] { --swatch-bg:#ddf21e; }


[data-theme="orange"][data-mode="dark"] {
    --h1-color: #f07710;
    --link-color: #da9040;
    --text-color: #dcdcdc;
    --background-color: #0c1010;
    --secondary-color: #070707;
}
[data-theme="orange"][data-mode="light"] {
    --h1-color: #ffa040;
    --link-color: #e69000;
    --text-color: #222120;
    --background-color: #fbf5f5;
    --secondary-color: #ededed;
}
.swatch[data-theme="orange"] { --swatch-bg:#f07710; }


[data-theme="blood"][data-mode="dark"] {
    --h1-color: #ff5000;
    --link-color: #fc6930;
    --text-color: #eeeeee;
    --background-color: #081111;
    --secondary-color: #0f0000;
}
[data-theme="blood"][data-mode="light"] {
    --h1-color: #ff5000;
    --link-color: #da2800;
    --text-color: #0e1e1e;
    --background-color: #eeeeee;
    --secondary-color: #fcf8f8;
}
.swatch[data-theme="blood"] { --swatch-bg:#ff5000; }


[data-theme="purple"][data-mode="dark"] {
    --h1-color: #a93f90;
    --link-color: #bf6faa;
    --text-color: #f9eeee;
    --background-color: #170f20;
    --secondary-color: #251629;
}
[data-theme="purple"][data-mode="light"] {
    --h1-color: #833bb8;
    --link-color: #7333a2;
    --text-color: #1d1329;
    --background-color: #eaeaf0;
    --secondary-color: #f8f2fb;
}
.swatch[data-theme="purple"] { --swatch-bg:#a93f90; }


[data-theme="pink"][data-mode="dark"] {
    --h1-color: #ff9ee0;
    --link-color: #ffbce2;
    --text-color: #f9eeee;
    --background-color: #151011;
    --secondary-color: #1e1b1a;
}
[data-theme="pink"][data-mode="light"] {
    --h1-color: #a92e5f;
    --link-color: #8a254a;
    --text-color: #151011;
    --background-color: #f9eeee;
    --secondary-color: #f3dfe5;
}
.swatch[data-theme="pink"] { --swatch-bg:#ff9ee0; }

