
.theme-picker {
    position: relative;
    width: 100%;
    height: 100%;
}

.swatch {
    width: .25vw;
    height: 4vh;
    background: var(--swatch-bg);
    transform-origin: center;
    transition: width .2s ease;
    position: relative;
}

.swatch::before {
    content: "";  /* precisa estar assim */
    position: absolute;  /* sit on top of the button */
    inset: 0 -.75vw 0 0;  /* expand button hitbox */
    background: transparent;
}

.swatch:hover,
.swatch.selected {
    margin-right: .25vw;
    width: .7vw;
}

.color-selector {
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 4vh 0 0 0;
    z-index: 5;
}

.mode-selector {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
}

.mode-selector button {
    width: 4vh;
    height: 4vh;
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 0.25vw;
}


i{
    font-size: 1.35rem;
    color: var(--h1-color);
}


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    pointer-events: none;
    transition: background 0.3s ease;
}



[data-theme="bw"][data-mode="dark"] {
    --h1-color: #ffffff;
    --link-color: #9a9a9a;
    --text-color: #fbfbfb;
    --background-color: #000000;
    --secondary-color: #0e0e0e;
}
[data-theme="bw"][data-mode="light"] {
    --h1-color: #000000;
    --link-color: #7a7a7a;
    --text-color: #040404;
    --background-color: #ffffff;
    --secondary-color: #f2f2f2;
}
[data-theme="bw"][data-mode="color"] {
    --h1-color: #ffffff;
    --link-color: #d0d0d0;
    --text-color: #000000;
    --background-color: #797979;
    --secondary-color: #868686;
}
.swatch[data-theme="bw"] { --swatch-bg: #888888; }


[data-theme="default"][data-mode="dark"] {
    --h1-color: #ffc300;
    --link-color: #ffc84b;
    --text-color: #fff3d4;
    --background-color: #000814;
    --secondary-color: #131613;
}
[data-theme="default"][data-mode="light"] {
    --h1-color: #00195a;
    --link-color: #003566;
    --text-color: #000814;
    --background-color: #ffeedd;
    --secondary-color: #ffe1c1;
}
[data-theme="default"][data-mode="color"] {
    --h1-color: #ffc400;
    --link-color: #ffd576;
    --text-color: #fff5df;
    --background-color: #1d3947;
    --secondary-color: #2d4b5b;
}
.swatch[data-theme="default"] { --swatch-bg:#ffc300; }


[data-theme="emerald"][data-mode="dark"] {
    --h1-color: #80cf45;
    --link-color: #a4d977;
    --text-color: #f5f0e7;
    --background-color: #081310;
    --secondary-color: #020504;
}
[data-theme="emerald"][data-mode="light"] {
    --h1-color: #469527;
    --link-color: #3f7e21;
    --text-color: #27270c;
    --background-color: #f5f0e7;
    --secondary-color: #eaeaea;
}
[data-theme="emerald"][data-mode="color"] {
    --h1-color: #91f731;
    --link-color: #b6f38b;
    --text-color: #f2fce6;
    --background-color: #24471b;
    --secondary-color: #1b3501;
}
.swatch[data-theme="emerald"] { --swatch-bg:#80cf45; }


[data-theme="cyan"][data-mode="dark"] {
    --h1-color: #40dbdb;
    --link-color: #9dece6;
    --text-color: #fafdf0;
    --background-color: #1d0e10;
    --secondary-color: #100507;
}
[data-theme="cyan"][data-mode="light"] {
    --h1-color: #33b3c3;
    --link-color: #30909d;
    --text-color: #251417;
    --background-color: #efeff9;
    --secondary-color: #f7f7f7;
}
[data-theme="cyan"][data-mode="color"] {
    --h1-color: #af0000;
    --link-color: #7e2913;
    --text-color: #2c2020;
    --background-color: #5dc6d8;
    --secondary-color: #3ab1c8;
}
.swatch[data-theme="cyan"] { --swatch-bg:#40dbdb; }


[data-theme="lime"][data-mode="dark"] {
    --h1-color: #ddf21e;
    --link-color: #e8f66f;
    --text-color: #fafdf0;
    --background-color: #050505;
    --secondary-color: #151515;
}
[data-theme="lime"][data-mode="light"] {
    --h1-color: #aad02e;
    --link-color: #8baa26;
    --text-color: #303030;
    --background-color: #fcfffc;
    --secondary-color: #efefef;
}
[data-theme="lime"][data-mode="color"] {
    --h1-color: #daff0a;
    --link-color: #edff57;
    --text-color: #fafdf0;
    --background-color: #0034a5;
    --secondary-color: #002781;
}
.swatch[data-theme="lime"] { --swatch-bg:#ddf21e; }


[data-theme="orange"][data-mode="dark"] {
    --h1-color: #f07710;
    --link-color: #da9040;
    --text-color: #dcdcdc;
    --background-color: #101414;
    --secondary-color: #070707;
}
[data-theme="orange"][data-mode="light"] {
    --h1-color: #ffa040;
    --link-color: #e69000;
    --text-color: #222120;
    --background-color: #fbf5f5;
    --secondary-color: #ededed;
}
[data-theme="orange"][data-mode="color"] {
    --h1-color: #0040b5;
    --link-color: #0041e7;
    --text-color: #020a22;
    --background-color: #fca967;
    --secondary-color: #f78757;
}
.swatch[data-theme="orange"] { --swatch-bg:#f07710; }


[data-theme="blood"][data-mode="dark"] {
    --h1-color: #ff5000;
    --link-color: #fc6930;
    --text-color: #eeeeee;
    --background-color: #081111;
    --secondary-color: #0f0000;
}
[data-theme="blood"][data-mode="light"] {
    --h1-color: #ff5000;
    --link-color: #da2800;
    --text-color: #0e1e1e;
    --background-color: #eaeaea;
    --secondary-color: #fcf8f8;
}
[data-theme="blood"][data-mode="color"] {
    --h1-color: #ff5000;
    --link-color: #ffad92;
    --text-color: #fafdf0;
    --background-color: #400000;
    --secondary-color: #701000;
}
.swatch[data-theme="blood"] { --swatch-bg:#ff5000; }


[data-theme="purple"][data-mode="dark"] {
    --h1-color: #a93f90;
    --link-color: #bf6faa;
    --text-color: #f9eeee;
    --background-color: #170f20;
    --secondary-color: #251629;
}
[data-theme="purple"][data-mode="light"] {
    --h1-color: #833bb8;
    --link-color: #7333a2;
    --text-color: #1d1329;
    --background-color: #eaeaf0;
    --secondary-color: #f8f2fb;
}
[data-theme="purple"][data-mode="color"] {
    --h1-color: #4effdc;
    --link-color: #a3ffee;
    --text-color: #f0f0ff;
    --background-color: #7d38ab;
    --secondary-color: #7b2285;
}
.swatch[data-theme="purple"] { --swatch-bg:#963da4; }


[data-theme="pink"][data-mode="dark"] {
    --h1-color: #ff9ee0;
    --link-color: #ffbce2;
    --text-color: #f9eeee;
    --background-color: #151011;
    --secondary-color: #1f1d1d;
}
[data-theme="pink"][data-mode="light"] {
    --h1-color: #a92e5f;
    --link-color: #8a254a;
    --text-color: #151011;
    --background-color: #faf0f0;
    --secondary-color: #f5dce4;
}
[data-theme="pink"][data-mode="color"] {
    --h1-color: #bf0033;
    --link-color: #97022a;
    --text-color: #151011;
    --background-color: #f0b0d5;
    --secondary-color: #f1c9e2;
}
.swatch[data-theme="pink"] { --swatch-bg:#ff9ee0; }

